<div class="cadastro_container">
  <h2>Nova Banda</h2> <!-- ocultei o new banda de new.html-->
  <div class="centro">
  <% generos = ['Hardcore', 'Progressivo', 'Punk', 'Heavy Metal'] %>
  
  <%= form_with(model: banda, local: true) do |form| %>
    <% if banda.errors.any? %>
   
      <div id="error_explanation">
        <h2><%= pluralize(banda.errors.count, "error") %> prohibited this banda from being saved:</h2>
  
        <ul>
        <% banda.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field f-style">
      <%= form.label :nome, "Nome da banda" %>
      <%= form.text_field :nome, autocomplete: 'off' %>
    </div>
  
    <div class="field f-style">
      <%= form.label :ano,"Ano da banda" %>
      <%= form.text_field :ano, autocomplete: 'off' %>
    </div>
  
    <div class="field">
      <%= form.label :genero, 'Gênero' %>
      <%= form.select :genero, generos %>
    </div>
  
    <div class="field f-style">
      <%= form.label :pais, 'País' %>
      <%= form.text_field :pais, autocomplete: 'off' %>
    </div>
  
    <div class="field">
      <%= form.label :image, "Selecione uma imagem" %>
      <%= form.file_field :image %>
    </div>
  
    <div class="actions">
      <%= form.submit "Cadastrar banda"%>
    </div>
  <% end %>
</div>
</div>