<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @banda.nome %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @banda.ano %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @banda.genero %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @banda.pais %>
</p>

<div class="banda__albuns">
  <%= link_to '+ Album', new_album_path(banda_id: @banda.id) %>
  <ul>
    <% @banda.albums.each do |album| %>
      <li>
        <%= link_to album.nome, album_path(album) %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_banda_path(@banda) %> |
<%= link_to 'Back', bandas_path %>
