<hr>

<h2><%= @banda.nome %></h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Ano de formação:</strong>
  <%= @banda.ano %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @banda.genero %>
</p>

<p>
  <strong>País:</strong>
  <%= @banda.pais %>
</p>

<div class="banda__albuns">
  <h3>Álbuns</h3>
  <ul>
    <% @banda.albums.each do |album| %>
      <li>
        <%= link_to album.nome, album_path(album) %>
      </li>
    <% end %>
  </ul>
  <%= link_to '+ Album', new_album_path(banda_id: @banda.id) %>
</div>

<hr>

<%= link_to 'Edit', edit_banda_path(@banda) %>