<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @album.image.url %>
</div>

<p>
  <strong>Nome:</strong>
  <%= @album.nome %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @album.ano %>
</p>

<p>
  <strong>Banda:</strong>
  <%= link_to @album.banda.nome, banda_path(@album.banda) %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %>