<!DOCTYPE html>
<html>
  <head>
    <title>Vinyl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Explorar', explorar_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Cadastrar Banda', new_banda_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <div class="barra-de-busca">
      <%= form_tag buscar_path, method: 'GET' do  %>
        <%= text_field_tag :query, nil, placeholder: 'Busque bandas e discos', autocomplete: 'off' %>
      <% end %>
    </div>

    <div class="alert-box">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  
    <main>
      <%= yield %>
    </main>

  </body>
</html>
